name: CI
on:
  pull_request:
  push:
    branches: [ main ]
  workflow_dispatch: {}

jobs:
  check:
    runs-on: ubuntu-latest
    outputs:
      permitted: ${{ steps.check.outputs.permitted }}
    steps:
      - id: check
        continue-on-error: true
        uses: prince-chrismc/check-actor-permissions-action@v1
        with:
          permission: write

  ci:
    needs: check
    runs-on: ubuntu-latest
    steps:
      - if: |
          github.event_name == 'push' ||
          github.event_name == 'workflow_dispatch' ||
          needs.check.outputs.permitted == 'false'
        uses: actions/checkout@v2
      - if: github.event_name == 'pull_request' && needs.check.outputs.permitted == 'true'
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.REPO_PAT }}
          ref: ${{ github.event.pull_request.head.ref }}
      - uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
      - run: yarn install
      - run: yarn all
      - run: git add --update
      - if: needs.check.outputs.permitted != 'true'
        uses: dtinth/patch-generator-action@v1 # This will fail when stage is dirty
      - if: needs.check.outputs.permitted == 'true'
        uses: EndBug/add-and-commit@v8
        with:
          default_author: github_actions
          message: linting and packing changes for ${{ github.sha }}

  e2e: # make sure the action works on a clean machine without building
    needs: check
    runs-on: ubuntu-latest
    if: needs.check.outputs.permitted == 'true'
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          conflict_label_name: "has conflict"
          github_token: ${{ secrets.REPO_PAT }}
          detect_merge_changes: true
          conflict_comment: |
            :wave: Hi, @${{ github.actor }},
            
            I detected conflicts against the base branch. You'll want to sync :arrows_counterclockwise: your branch with upstream!

  coverage:
    needs: ci
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
      - run: yarn install
      - run: yarn test --coverage
      - uses: codecov/codecov-action@v2
        with:
          directory: coverage/
