name: CI
on:
  pull_request:
  push:
    branches: [ main ]
  workflow_dispatch: {}

jobs:
  check:
    runs-on: ubuntu-latest
    outputs:
      permitted: ${{ steps.check.outputs.permitted }}
    steps:
      - id: check
        continue-on-error: true
        uses: prince-chrismc/check-actor-permissions-action@v2
        with:
          permission: write

  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
      - run: yarn install
      - run: yarn all

      - run: git add --update
      - uses: dtinth/patch-generator-action@v1 # This will fail when stage is dirty

  commit-linting:
    needs: [check, ci]
    if: always() && needs.jobs.ci.outcome != 'success' && needs.check.outputs.permitted == 'true'
    runs-on: ubuntu-latest
    steps:
      - if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
        uses: actions/checkout@v3
      - if: github.event_name == 'pull_request'
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.REPO_PAT }}
          ref: ${{ github.event.pull_request.head.ref }}

      - uses: actions/download-artifact@v3
        with:
          name: git-patch
          path: /tmp
      - run: git apply /tmp/fix.diff

      - uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
          message: linting and packing changes for ${{ github.sha }}

  e2e: # make sure the action works on a clean machine without building
    needs: check
    runs-on: ubuntu-latest
    if: needs.check.outputs.permitted == 'true'
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          conflict_label_name: "has conflict"
          github_token: ${{ secrets.REPO_PAT }}
          detect_merge_changes: true

  coverage:
    needs: ci
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
      - run: yarn install
      - run: yarn test --coverage
      - uses: codecov/codecov-action@v3
        with:
          directory: coverage/
